 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="#">PcTecno S.A</a></li>
          <li><a href="#cliente">Clientes</a></li>
          <li><a href="#proveedor">Proveedores</a></li>
          <li><a href="#venta">Ventas</a></li>
          <li><a href="#equipos">Equipos</a></li>
          <li><a href="#inventario">Inventario</a></li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

</div>
<form ng-submit="consultarCliente()">
    <div class="bs-callout bs-callout-primary" ng-hide="">
        <div class="row">
             <h1 class="page-header">Registro de inventarios</h1>
            <div class="col-md-12">
                <h4>Consultar Componente</h4>                
                <hr>

                       <div class="col-md-9 col-md-offset-9">
              <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Otras opciones
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#login">Cerrar sesion</a></li>
    <li><a href="#">Menu principal</a></li>
    <li><a href="#">Quienes somos</a></li>
  </ul>
</div>
                </div>

                <div class="form-group  col-md-6">
                    <label>Id componente</label>
                    <input class="form-control " ng-model="filtro.filtroDosId">
                </div>
                <div class="form-group  col-md-6">
                    <label>Tipo de componente</label>
                    <input class="form-control " ng-model="filtro.filtroDosId">
                </div>
                <div class="col-md-12">
                    <div class="form-group botonbusqueda">
                        <button type="button" ng-click="reiniciar()" class="btn btn-default ng-binding">cancelar</button>
                        <button type="submit" class="btn btn-info ng-binding">Consultar</button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success ng-binding" data-toggle="modal" data-target="#myModal">
                Agregar cliente
            </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<!-- Tabla con los datos del inventario-->
<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-12">
            <h4>Proveedores Registrados</h4>
            <hr>
            <br>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped" ng-table="clientes">
                    <thead>
                        <tr>
                            <th class="text-center">Id componente</th>
                            <th class="text-center">Fecha de ingreso</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Ubicación</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="Cliente in clientes">
                            <td class="text-center">{{Cliente.personaidPersona.nombre}}</td>
                            <td class="text-center">{{Cliente.cedula}}</td>
                            <td class="text-center">{{Cliente.personaidPersona.ciudad}}</td>
                            <td class="text-center">{{Cliente.personaidPersona.telefono}}</td>
                            <td class="text-center">{{Cliente.personaidPersona.direccion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<div class="modal fade" id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                             </button>
                <div class="bs-callout bs-callout-success">
                    <div class="row">
                        <h4>Registrar iventario</h4>

                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-group  col-md-6 ">
                                    <label>cantidad</label>
                                    <input class="form-control" ng-required="componente" ng-model="componente.cantidad" numbers-only size="12">
                                    <!-- guardar nombre en la variable de registro persona.js  -->
                                </div>


                                <div class="form-group  col-md-6">
                                    <label>Fecha</label>
                                    <input class="form-control" ng-required="componente.estado" ng-model="componente.fechaIngreso">
                                    <!-- guardar nombre en la variable de registro persona.js  -->
                                </div>

                                <div class="form-group  col-md-6">
                                    <label>estado</label>
                                    <input class="form-control " ng-model="componente.estado">

                                </div>

                                <div class="form-group  col-md-6">
                                    <label>ubicacion</label>
                                    <input class="form-control" ng-model="componente.ubicacion">
                                </div>

                                <div class="form-group  col-md-6">
                                    <label>descripcion</label>
                                    <input class="form-control " ng-model="componente.descripcion">

                                </div>
                                <div class="form-group  col-md-6">
                                    <label>tipo</label>
                                    <input class="form-control " ng-model="componente.tipo">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reiniciar()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="agregarPersona()">registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>